#TripTitle{
    background-color: rgba(128, 128, 128, 0.222);
    backdrop-filter: blur(4px);
    width: fit-content;
    margin: auto auto 10px auto;
    padding:5px 10px;
    border-radius: 10px;
}

.tripsContainer{
    width: 70%;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
}

.tripImg{
    width: 100%;
    height: 100%;
}

#plus{
    font-size: 2.5em;
}

#noTrips{
    background-color: rgba(255, 255, 255, 0.501);
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-size: 2em;
    grid-column-start: 1;
    grid-column-end: 6;
    margin: auto;
    grid-row-start: 1;
}