#TripTitle{
    background-color: rgba(128, 128, 128, 0.222);
    backdrop-filter: blur(4px);
    width: fit-content;
    margin: auto auto 10px auto;
    padding:5px 10px;
    border-radius: 10px;
}

.tripsContainer{
    width: 70%;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
}

.tripImg{
    width: 100%;
    height: 100%;
}

#plus{
    font-size: 2.5em;
}