#journalContainers{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../static/sitePhotos/blackCanyon.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: bottom;

    #TripTitle{
        background-color: rgba(254, 254, 254, 0.081);
        backdrop-filter: blur(4px);
        width: fit-content;
        margin: 60px auto 10px auto;
        padding:5px 10px;
        border-radius: 10px;
    }

    .tripsContainer{
        width: 70%;
        margin: auto;

        #toolTip{
            background-color: gray;
            border-radius: 10px;
            font-size: 1.25em;
        }

        .tripContainer{
            background-color: rgba(255, 255, 255, 0.75);
            width: 120px;
            height: 175px;
            border-radius: 10px;
            margin: 5px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items:center;
            backdrop-filter: blur(4px);

            #plus{
                font-size: 2em;
            }
        }
    }
}