#journalContainers{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../static/sitePhotos/blackCanyon.png");
    background-repeat: no-repeat;
    height: calc(100vh - 65px);
    width: 100vw;
    background-size: cover;
    background-position: bottom;
    padding-top: 65px;

}